html, body {
    height: 100%;
    width: 100%;
    margin: auto;
    font-size: 100%;
}

h1,h2,h3,h4 {
  color: antiquewhite;
  opacity: 1;
}
.Quienes-somos {
  justify-self: center;
  align-self: center;
  grid-area: Quienes-somos;
  width: 100%;
  height: 100%;
}

.Que-hacemos {
  justify-self: center;
  align-self: center;
  grid-area: Que-hacemos;
  width: 100%;
  height: 100%;
}

.Donde-estamos { 
  justify-self: center;
  align-self: center;
  grid-area: Donde-estamos;
  width: 100%;
  height: 100%; 
}
.Inicio {
  justify-self: center;
  align-self: center;
  grid-area: Inicio;
  width: 100%;
  height: 100%; 
}

.paragrafocontenido{
    height: 100%;
    width: 80%;
    justify-items: center;
    align-items: center;
    margin: auto;
}

/* CSS relativo a Contacto */
.contenedorCO{
    height: 100%;
    width: 100%;
    background-color: #4158D0;
    background-image: linear-gradient(43deg, #4158D0 0%, #C850C0 46%, #FFCC70 100%);
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 0.2fr 2.6fr 0.2fr;
    grid-auto-columns: 1fr;
    gap: 0px 0px;
    grid-auto-flow: row;
    justify-items: center;
    grid-template-areas:
      "HeaderCO HeaderCO HeaderCO"
      "ContentCO ContentCO ContentCO"
      "ContentCO ContentCO ContentCO";
}

.HeaderCO {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr;
    gap: 0px 0px;
    grid-auto-flow: row;
    grid-template-areas:
      "Quienes-somos Que-hacemos Donde-estamos"
      "Quienes-somos Que-hacemos Donde-estamos"
      "Quienes-somos Que-hacemos Donde-estamos";
    justify-self: center;
    grid-area: HeaderCO;
    width: 100%;
    height: 100%;
    background-color: #000000;
    opacity: 0.7;
    text-align: center;
}

.ContentCO {
    grid-area: ContentCO;
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.divform{
    background-color: #FFCC70;
    background-image: linear-gradient(43deg, #FFCC70 0%, #C850C0 46%,#4158D0 100%);
    border-radius: 5%;
    border-style: outset;
    border-color: whitesmoke;
}
.submit{
    justify-self: right;
}
.formCO{
    margin: 5%;
    font-family: 'Times New Roman', Times, serif;
}


/* CSS relativo a Donde Estamos */
.contenedorDE{
    height: 100%;
    width: 100%;
    background-color: #4ecf86;
    background-image: linear-gradient(43deg, #4ecf86 0%, #9ef9d7 46%, #f7daab 100%);
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 0.2fr 2.6fr 0.2fr;
    grid-auto-columns: 1fr;
    gap: 0px 0px;
    grid-auto-flow: row;
    justify-items: center;
    grid-template-areas:
      "HeaderDE HeaderDE HeaderDE"
      "ContentDE ContentDE ContentDE"
      "ContentDE ContentDE ContentDE";
}

.HeaderDE {  
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr;
    gap: 0px 0px;
    grid-auto-flow: row;
    grid-template-areas:
      "Inicio Quienes-somos Que-hacemos"
      "Inicio Quienes-somos Que-hacemos"
      "Inicio Quienes-somos Que-hacemos";
    justify-self: center;
    grid-area: HeaderDE;
    width: 100%;
    height: 100%;
    background-color: #000000;
    opacity: 0.7;
    text-align: center;
}


.ContentDE {
    grid-area: ContentDE;
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

/* CSS relativo a Info */
.contenedorIN{
    height: 100%;
    width: 100%;
    background-color: #5c58bf;
    background-image: linear-gradient(43deg, #5c58bf 0%, #6032a6 46%, #1d113b 100%);    
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 0.2fr 2.6fr 0.2fr;
    grid-auto-columns: 1fr;
    gap: 0px 0px;
    grid-auto-flow: row;
    justify-items: center;
    grid-template-areas:
      "HeaderIN HeaderIN HeaderIN"
      "ContentIN ContentIN ContentIN"
      "ContentIN ContentIN ContentIN";
}
.HeaderIN {  
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr;
    gap: 0px 0px;
    grid-auto-flow: row;
    grid-template-areas:
      "Quienes-somos Que-hacemos Donde-estamos"
      "Quienes-somos Que-hacemos Donde-estamos"
      "Quienes-somos Que-hacemos Donde-estamos";
    justify-self: center;
    grid-area: HeaderIN;
    width: 100%;
    height: 100%;
    background-color: #000000;
    opacity: 0.7;
    text-align: center;
}
.ContentIN {
    grid-area: ContentIN;
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
/* CSS relativo a Que Hacemos */
.contenedorQH{
    height: 100%;
    width: 100%;
    background-color: #924382;
    background-image: linear-gradient(43deg, #924382 0%, #d5c8e8 46%, #5e4c64 100%);
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 0.2fr 2.6fr 0.2fr;
    grid-auto-columns: 1fr;
    gap: 0px 0px;
    grid-auto-flow: row;
    justify-items: center;
    grid-template-areas:
      "HeaderQH HeaderQH HeaderQH"
      "ContentQH ContentQH ContentQH"
      "ContentQH ContentQH ContentQH";    
}
.HeaderQH {  
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr;
    gap: 0px 0px;
    grid-auto-flow: row;
    grid-template-areas:
      "Inicio Quienes-somos Donde-estamos"
      "Inicio Quienes-somos Donde-estamos"
      "Inicio Quienes-somos Donde-estamos";
    justify-self: center;
    grid-area: HeaderQH;
    width: 100%;
    height: 100%;
    background-color: #000000;
    opacity: 0.7;
    text-align: center;
}

.ContentQH {
    grid-area: ContentQH;
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
/* CSS relativo a Quienes Somos */
.contenedorQS{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 0.2fr 2.6fr 0.2fr;
    grid-auto-columns: 1fr;
    gap: 0px 0px;
    grid-auto-flow: row;
    justify-items: center; 
    grid-template-areas:
      "HeaderQS HeaderQS HeaderQS"
      "ContentQS ContentQS ContentQS"
      "ContentQS ContentQS ContentQS";
    height: 100%;
    width: 100%;
    background-color: #D9AFD9;
    background-image: linear-gradient(0deg, #D9AFD9 0%, #97D9E1 100%);
}
.HeaderQS {  
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr;
    gap: 0px 0px;
    grid-auto-flow: row;
    grid-template-areas:
      "Inicio Que-hacemos Donde-estamos"
      "Inicio Que-hacemos Donde-estamos"
      "Inicio Que-hacemos Donde-estamos";
    justify-self: center;
    grid-area: HeaderQS;
    width: 100%;
    height: 100%;
    background-color: #000000;
    opacity: 0.7;
    text-align: center;
}

.ContentQS {
    grid-area: ContentQS;
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}


